.boat-content{
  margin: 30px auto;
  max-width: 75vw;
}
.boat-content h2{
  text-align: center;
}
.riverboatRoutes{
  max-width: 780px;
  text-wrap: wrap;
  font-size: 14px;
  background-color: #fee49b;
  border-collapse: collapse;
  }