.walking-content {
  margin: 30px auto;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
}

.walking-text h2 {
  text-align: center;
}

.walking-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.walking-map iframe {
  width: 90%;
  height: 300px;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .walking-map {
    flex-direction: row;
    justify-content: space-around;
  }

  .walking-map iframe {
    width: 45%;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .walking-content {
    max-width: 75vw;
  }

  .walking-map iframe {
    height: 450px;
  }
}