.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e9e5af;
  z-index: 100;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  margin-right: 20px;
  transition: margin-right 0.3s ease;
}

.links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 10px 20px;
  transition: margin-right 0.3s ease;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #e9e5af;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 140%;
  left:0;
}

.dropdown li {
  display: block;
  margin: 0;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
}

.links .excursions-button {
  position: relative;
  display: none;
}

.links .excursions-button:hover .dropdown,
.links .excursions-button:focus .dropdown {
  display: block;
}

.slider-item {
  margin-left: 20px;
}
.menu-button{
  display: none;
}
.menu-slider-container {
  display: flex;
  align-items: center;
}

.links li, .links a {
  transition: all 0.3s ease;
}
.dark-mode .menu-button{
  color:whitesmoke ;
}

.links a:hover {
  color: #cb9f9f;
}

.links a:active {
  background-color: brown;
  color: #fff;
}

body {
  background-color:  #faf9e3;
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 30px;
}

@media (max-width: 320px) {
  .links .tour-item{
    display: none;
  }
  .links .excursions-button {
    display: inline-block;
  }

  .dark-mode .menu-slider-container li{
    background-color: #1e1e1e;
  }
  .menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
  }

  .switch {
    margin-left: 30px;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5af;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .links li {
    margin: 0;
    width: 100%;
  }

  .links a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    justify-content: space-between;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button.active + .links,
  .links.active {
    display: flex;
  }

  .menu-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    position: static;
    width: 100%;
    text-align: center;
  }

  .dropdown li {
    width: 100%;
  }

  .dropdown a {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .links .tour-item{
    display: none;
  }
  .links .excursions-button {
    display: inline-block;
  }

  .dark-mode .menu-slider-container li {
    background-color: #1e1e1e;
  }
  .menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
  }

  .switch {
    margin-left: 30px; 
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5af;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .links li {
    margin: 0;
    width: 100%;
  }

  .links a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    justify-content: space-between;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button.active + .links,
  .links.active {
    display: flex;
  }

  .menu-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    position: static;
    width: 100%;
    text-align: center;
  }

  .dropdown li {
    width: 100%;
  }

  .dropdown a {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 376px) and (max-width: 424px) {

  .links .tour-item{
    display: none;
  }
  .links .excursions-button {
    display: inline-block;
  }

  .dark-mode .menu-slider-container li{
    background-color: #1e1e1e;
  }
  .menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    color: #000;
  }

  .switch {
    margin-left: 50px;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5af;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .links li {
    margin: 0;
    width: 100%;
  }

  .links a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    justify-content: space-between;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button.active + .links,
  .links.active {
    display: flex;
  }

  .menu-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    position: static;
    width: 100%;
    text-align: center;
  }

  .dropdown li {
    width: 100%;
  }

  .dropdown a {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 425px) and (max-width: 767.98px) {

  .links .tour-item{
    display: none;
  }
  .links .excursions-button {
    display: inline-block;
  }

  .dark-mode .menu-slider-container li{
    background-color: #1e1e1e;
  }
  .menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    color: #000;
  }

  .switch {
    margin-left: 70px;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #e9e5af;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .links li {
    margin: 0;
    width: 100%;
  }

  .links a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    justify-content: space-between;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-button.active + .links,
  .links.active {
    display: flex;
  }

  .menu-slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dropdown {
    position: static;
    width: 100%;
    text-align: center;
  }

  .dropdown li {
    width: 100%;
  }

  .dropdown a {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px){
  
  .dark-mode .excursions-button li{
    background-color: #1e1e1e;
  }

  .links li {
    margin-right: 0;
    margin-bottom: 0;
  }

  .links a {
    padding: 5px 17px;
  }

  .links .excursions-button {
    display: inline-block;
  }
  .dark-mode .excursions-button li{
    background-color: #1e1e1e;
    border: none;
  }

  .container .tour-item {
    display: none;
  }

  .excursions-button {
    display: inline-block;
  }

  .links a {
    margin-right: 5vw;
  }
}

@media (min-width: 1024px) and (max-width: 1210.98px) {

  .dark-mode .excursions-button li {
    background-color: #1e1e1e; 
    border: none;
    margin: 0;
    padding: 0;
  }
  .dark-mode .excursions-button li{
    background-color: #1e1e1e;
    border: none;
  }

  .container .tour-item {
    display: none;
  }

  .excursions-button {
    display: inline-block;
  }

  .links a {
    margin-right: 60px;
  }
} 

@media  (min-width: 1024px){
  .links li {
    margin-right: 5px;
  }

  .links a {
    padding: 5px 10px;
  }
  
  .links .excursions-button {
    display: inline;
  }
}

@media only screen and (min-width: 1211px)  and (max-width: 1454.98px) {
  .links .excursions-button{
    display: none;
  }
  
  .links li {
    margin-right: 5px;
  }

  .links a {
    padding: 5px 10px;
  }
}

@media screen and (min-width: 1456px) and (max-width:2000px) {
  .links .excursions-button{
    display: none;
  }
  .links li {
    margin-right: 2.5vw;
  }

  .links a {
    padding: 5px 10px;
  }

}

.inverted {
    filter: invert(1) hue-rotate(180deg);
}    

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .header {
  background-color: #1e1e1e;
}

.dark-mode .links a {
  color: #e0e0e0;
}

.dark-mode .links a:hover {
  color: #cb9f9f;
}

.dark-mode .links a:active {
  background-color: brown;
  color: #fff;
}
.dark-mode .riverboatRoutes{
background-color: #1e1e1e;
}
.dark-mode .bus-table {
background-color: #1e1e1e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #f1c40f;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
  background-color: #ffeb3b; 
}

body.dark-mode .slider {
  background-color: #555;
}

body.dark-mode input:checked + .slider {
  background-color: #222;
}

body.dark-mode .slider:before {
  background-color: #f1c40f; 
}

body.dark-mode input:checked + .slider:before {
  background-color: #e0e0e0; 
}


.register-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px; 
  height: 65px; 
  background-color: #a8d5ba; 
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s;
  padding: 10px; 
}

.register-circle:hover {
  background-color: #90c1a4;
}

.modal,
.discount {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.discount-content{
  background-color: #faf9e3;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  position: relative;
  border-radius: 8px;
}

body.dark-mode .modal-content,
body.dark-mode .discount-content  {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

.close,
.clode-discount {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}
.clode-discount{
  text-align: center;
}

body.dark-mode .close,
body.dark-mode .close-discount {
  color: #ccc;
}

.close:hover,
.close:focus, 
.close-discount:hover,
.close-discount:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body.dark-mode .close:hover,
body.dark-mode .close:focus,
body.dark-mode .close-discount:hover,
body.dark-mode .close-discount:focus{
  color: #fff;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label,
.modal-content form input,
.modal-content form select,
.modal-content form button {
  margin-bottom: 10px;
}

.modal-content form input,
.modal-content form select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body.dark-mode .modal-content form input,
body.dark-mode .modal-content form select {
  background-color: #555;
  color: #fff;
  border-color: #777;
}

.modal-content form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content form button:hover {
  background-color: #45a049;
}