.header {
  position:  fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e9e5af;
  z-index: 100;
  margin: 0 auto;
  
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 10px 20px;
}

.links a:hover {
  color: #cb9f9f;
}

.links a:active{
  background-color: brown;
  color: #fff;
}


body {
  background-color:  #faf9e3;
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 30px;
}
.main-text { 
  max-width: 75vw;
  margin: 0 auto;
}

.main-text h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-text h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-text p {
  margin-bottom: 10px;
  align-items: center;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .video iframe{
      max-width: 100%; 
      max-height: 100vh; 
}


.history-text{
  max-width: 75vw;
  margin: 0 auto; 
}
.history-text h2{
text-align: center;
}

/*cycling*/
.cycling-text{
  max-width: 75vw; 
  margin: 0 auto; /* Центрування */
  margin-top: 30px;
  display: flex;
  gap: 5rem; /* між двома  */
}
.cycling-text h2{
text-align: center;
}

.text-content {
  flex: 1; /* весь простір */
}

.image-gallery {
  display: flex;
  flex-wrap: wrap; /* Переносити зображення на новий рядок */
  max-width: 400px; 
}

.image {
  width: 60%; 
  margin-bottom: 1rem; /* знизу */
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out; /* повільно-швидше-зупиниться*/
}

.image-gallery a:hover .image { 
  opacity: 1; 
}

/*sights*/
.gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap; /* Перехід на новий рядок*/
  justify-content: center;
  align-items: center;
}

.gallery figure {
  margin: 10px; /* Відступ між фотографіями */
  width: 300px; 
  height: 200px; 
  overflow: hidden; /* Приховати частини фотографій, які не вміщуються в рамці */
  border: 1px solid #ccc; /* Додати рамку до фотографії */
}
/*рамка*/
.gallery figure img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; /* Зберігати пропорції фотографії, заповнюючи всю рамку */
  transition: transform 0.3s ease; /* анімація переходу */
}

.gallery figure:hover img {
  transform: scale(1.1); 
}

/*текст до фото*/
.gallery figcaption {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Додати напівпрозорий фон */
  color: white;
  padding: 10px; 
  transition: opacity 0.3s ease;
}
/*показ тексту*/
.gallery figure:hover figcaption {
  display: block; 
  opacity: 1; 
}


/*walking*/
.walking-content {
  margin: 30px auto;
  max-width: 75vw;
  display: flex;

  flex-direction: column;
}
.walking-text h2  {
  text-align: center;
}
.walking-map{
  display: flex;
  flex-direction: row;
  max-height: 800px;
  width: 1200px;
  height: 450px;
}
.walking-map iframe{
  width: 100%;
  height: 100%;
  margin: 20px;
}

/*bus*/
.bus-content{
  margin: 30px auto;
  max-width: 75vw;
}

.bus-content h2{
  text-align: center;
}

.bus-table{
      max-width: 780px;
      text-wrap: wrap;
      font-size: 14px;
      background-color: #fee49b;
      border-collapse: collapse;
  }

/*boat*/
.boat-content{
  margin: 30px auto;
  max-width: 75vw;
}
.boat-content h2{
  text-align: center;
}
.riverboatRoutes{
  max-width: 780px;
  text-wrap: wrap;
  font-size: 14px;
  background-color: #fee49b;
  border-collapse: collapse;
  }

.inverted {
    filter: invert(1) hue-rotate(180deg);
}    

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .header {
  background-color: #1e1e1e;
}

.dark-mode .links a {
  color: #e0e0e0;
}

.dark-mode .links a:hover {
  color: #cb9f9f;
}

.dark-mode .links a:active {
  background-color: brown;
  color: #fff;
}
.dark-mode .riverboatRoutes{
background-color: #1e1e1e;
}
.dark-mode .bus-table {
background-color: #1e1e1e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: yellow;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
  background-color: #ffeb3b; 
}

body.dark-mode .slider {
  background-color: #555;
}

body.dark-mode input:checked + .slider {
  background-color: #222;
}

body.dark-mode .slider:before {
  background-color: #f1c40f; 
}

body.dark-mode input:checked + .slider:before {
  background-color: #e0e0e0; 
}